{% extends 'base.html'%}
<!-- Content block -->
{% block content %}
<div class="container">

    <!-- Poster background -->

    {%for article in articles%}
    <div class="card" style="width: 18rem;" >
        <img class="card-img-top" src ="{{article.urlToImage}}"alt="Card image cap">
        <div class="card-header"><h4><b>{{article.title}}</b></h4></div>
        <div class="card-body font-weight-bold">
            <p class="card-text">{{article.content|truncate(100)}}</p>
            <p class="card-text">{{article.author}}</p>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock %}
